<!doctype html>
<html ng-app>
<!-- Copyright 2011 The Go Authors.  All rights reserved. Use of this source code is governed by a BSD-style license that can be found in the LICENSE file. -->
<head>
    <title>TODO</title>
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <script src="{{ static_url_ }}lib/angular.min.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <script src="{{ static_url_ }}todo.js"></script>
    <link rel='stylesheet' href="{{ static_url_ }}todo.css">
</head>

<body>
    <div class='container' ng-controller='TaskCtrl'>
        <h1 class='charcoal rounded-box'>ToDo</h1>

        <h2>Tasks</h2>

        <ul class='grey rounded-box'>
            <li ng-repeat='t in tasks' ng-class='{done: t.Done}' ng-click='toggleDone(t)'>
                <span class='checkbox'></span>{{Title_}}
            </li>
        </ul>

        <form>
            <input type='text' class='rounded-box' placeholder='add new todo here' ng-model='todoText'>
            <button class='grey rounded-box' ng-click='addTodo()' ng-disabled='working'>New Task</button>
            <button class='grey rounded-box' ng-click='removeAllDone()' ng-disabled='working'>Remove all Done</button>
        </form>

        <img class='spinner' src='{{ static_url_ }}spinner.gif' alt='Loading' ng-class='{working: working}'/>
    </div>
</body>
</html>
